.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  text-decoration: none;
  transition: transform 0.5s ease;

  @include on-desktop {
    height: 32px;
    width: 32px;
  }

  &--menu {
    background-image: url(../imagens/icons/Icon-Burger-menu.png);
  }
  &--menu:hover {
    background-image: url(../imagens/icons/Icon-Burger-menu-hover.svg);
  }

  &--phone {
    background-image: url(../imagens/icons/Icon-Phone-call.png);
  }

  &--phone:hover {
    &__phone-contat {
      display: flex;
    }
  }

  &--close {
    background-image: url(../imagens/icons/vector.svg);
  }

  &__phone-contat {
    display: none;
    position: relative;
    right: 200px;
    text-align: end;
    width: 200px;
    color: $color-text;
  }
}
