.contact-us {
  .contacts_content {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    .container_information-contacts {
      grid-column: 1 / -1;
    }
    .form_contact {
      grid-column: 1 / -1;
    }

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 24px;

      .container_information-contacts {
        grid-column: 1 / 4;
      }
      .form_contact {
        grid-column: 4 / -1;
        grid-row: 1 / -1;
      }
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;

      .container_information-contacts {
        grid-column: 1 / 8;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 24px;
        .contacts_content-fifth_Avenue {
          grid-column: 1 / 4;
        }
        .contacts_content-cloisters {
          grid-column: 5 / -1;
        }
      }
      .form_contact {
        grid-column: 8 / -1;
      }
    }
  }
}

.form_contact-camp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_input-contact {
  font-family: $font-page;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(248, 248, 250, 1);
  height: 48px;
  border: none;
}

.form_input-contact::placeholder {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(126, 126, 131, 1);
}

.message_contact {
  font-family: $font-page;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(248, 248, 250, 1);
  height: 144px;
  border: none;
}

.message_contact::placeholder {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(126, 126, 131, 1);
}

.button_contact {
  width: 100%;
  height: 56px;
  margin-top: 32px;
  background-color: rgba(209, 45, 53, 1);
  color: $color-text;
  font-family: $font-page;
  font-size: 16px;
  font-weight: 700;
  grid-column: 1 / -1;
  border: none;

  &:hover {
    background-color: rgba(174, 28, 35, 1);
  }
  &:active {
    background-color: rgba(235, 52, 61, 1);
  }
}

.contact_phone {
  display: block;
  margin-bottom: 16px;
  color: rgba(62, 62, 62, 1);
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  font-family: $font-page;
  font-weight: 700;
  font-style: Bold;
  transition: color 0.3s ease;
}

.contact_phone:hover {
  color: #c41230;
}

.location {
  font-family: $font-page;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(62, 62, 62, 1);
  transition: color 0.3s ease;
}

.location:hover {
  color: #c41230;
}
