.now-on-view {
  .now-on-view_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    .exhibition-card {
      grid-column: 1 / -1;
    }

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);

      .exhibition-card {
        grid-column: 1 / -1;
      }
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);

      .exhibition-card {
        grid-column: 1 / -1;
      }
    }
  }

  .img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: hidden;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      .--extend {
        grid-column: 1 / 5;
      }
      .--standard {
        grid-column: 5 / -1;
      }
      .--standard-reverse {
        grid-column: 1 / 3;
      }
      .--extend-reverse {
        grid-column: 3 / -1;
      }
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      .--extend {
        grid-column: 1 / 9;
      }
      .--standard {
        grid-column: 9 / -1;
      }
      .--standard-reverse {
        grid-column: 1 / 5;
      }
      .--extend-reverse {
        grid-column: 5 / -1;
      }
    }
  }
}

.img-3colums {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    .--one-img {
      grid-column: 1 / 4;
    }
    .--two-img {
      grid-column: 4 / -1;
    }
    .--tree-img {
      display: none;
    }
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    .--one-img {
      grid-column: 1 / 5;
    }
    .--two-img {
      grid-column: 5 / 9;
    }
    .--tree-img {
      display: block;
      grid-column: 9 / -1;
    }
  }
}

.img-link {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.text-content {
  .exhibition-title {
    color: #d11212;
    font-size: 22px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .exhibition-date {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
  }
}

.view-all-exhibitions {
  grid-column: 1 / -1;
  justify-self: center;
  background-color: #d11212;
  color: white;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  margin-top: 10px;
}
