@import './utils/mixins';
@import './utils/variables';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/top-bar';
@import 'blocks/visit-hours';
@import 'blocks/view-content-page';
@import 'blocks/view-content-contact_us';
@import 'blocks/view-content-more_explore';

.main {
  row-gap: 96px;
  padding-block: 96px;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 120px;
    row-gap: 120px;
  }

  @include on-desktop {
    padding-block: 120px;
    row-gap: 120px;
  }
}

.section-title {
  font-family: $font-page;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
}

.--section-title {
  text-align: start;
}

.footer {
  background-image: url(../imagens/image-backgroud/img-background-footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;

  @include on-desktop {
    height: 359px;
  }
}
